body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Raleway", sans-serif;
}

.section-1 {
  
  /* The image used */

  background-image: url("oxford-background-big.jpg");

  /* Full height */

  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .section-1 {
      background-image: url("oxford-background-medium.jpg");
  }
}

@media (max-width: 550px) {
  .section-1 {
      background-image: url("oxford-background-small.jpg");
  }
}

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.border {
  /*background-color: #002147;
  color: #fff;*/
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
