body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Raleway", sans-serif;
}

.section-1 {
  
  /* The image used */

  background-image: url("static/oxford-background-big.jpg");

  /* Full height */

  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2 {

  /* Full height */

  height: 50%;

  /* Center and scale the image nicely */
  padding: 18px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media (max-width: 1000px) {
  .section-1 {
      background-image: url("static/oxford-background-medium.jpg");
  }
}

@media (max-width: 550px) {
  .section-1 {
      background-image: url("static/oxford-background-small.jpg");
  }
}

#caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.border {
  /*background-color: #002147;
  color: #fff;*/
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

#border-2 {
  /*background-color: #002147;
  color: #fff;*/
  padding: 18px;
  font-size: 20px;
  letter-spacing: 5px;
}

#btn {
  border: none;
  text-decoration: none;
  background-color: #fff;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

#btn:hover {
  background-color: #b2b2b2;
}

#btn-2 {
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #002147;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

#btn-2:hover {
  background-color: cadetblue;
}
