@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002147;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  padding: 14px 16px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #2F72A8;
}
.active{
  background-color: #002147;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.epm {
    padding: 50px;
}
p{
    font-family: Montserrat;
}
